# CREATING COMBINED PARQUET FILE: 2022

In [2]:
import pandas as pd

In [8]:
dfs = []

for idx in range(12):
  for year in ['2019', '2020']
    print(f'fhv_tripdata_{year}-{idx + 1:02d}.parquet')

    df = pd.read_parquet(f'../../../03-data-warehouse/extras/fhv_tripdata_{year}-{idx + 1:02d}.parquet')
    dfs.append(df)

result_df = pd.concat(dfs, ignore_index=True)

fhv_tripdata_2019-01.parquet
fhv_tripdata_2019-02.parquet
fhv_tripdata_2019-03.parquet
fhv_tripdata_2019-04.parquet
fhv_tripdata_2019-05.parquet
fhv_tripdata_2019-06.parquet
fhv_tripdata_2019-07.parquet
fhv_tripdata_2019-08.parquet
fhv_tripdata_2019-09.parquet
fhv_tripdata_2019-10.parquet
fhv_tripdata_2019-11.parquet
fhv_tripdata_2019-12.parquet

In [11]:
result_df.tail()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
43244691,B03266,2019-12-31 23:22:10,2019-12-31 23:30:08,7.0,7.0,NaN,B03266
43244692,B03266,2019-12-31 23:37:41,2019-12-31 23:45:39,179.0,179.0,NaN,B03266
43244693,B03266,2019-12-31 23:54:59,2020-01-01 00:02:57,193.0,193.0,NaN,B03266
43244694,B03266,2019-12-31 23:43:05,2019-12-31 23:51:03,179.0,179.0,NaN,B03266
43244695,B03266,2019-12-31 23:55:01,2020-01-01 00:02:59,7.0,7.0,NaN,B03266

In [7]:
result_df.to_parquet('./fhv_tripdata_2019.parquet')

In [3]:
result_df = pd.read_parquet('./fhv_tripdata_2019.parquet')

In [4]:
result_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43244696 entries, 0 to 43244695
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   dispatching_base_num    object
 1   pickup_datetime         object
 2   dropOff_datetime        object
 3   PUlocationID            float64
 4   DOlocationID            float64
 5   SR_Flag                 float64
 6   Affiliated_base_number  object
dtypes: float64(3), object(4)
memory usage: 2.3+ GB

# DUMP THIS PARQUET FILE IN GCP

## BIG QUERY QUERIES

```sql
SELECT * FROM `ny-rides-de-zoomcamp-2024.nytaxi.external_green_taxi_2022` LIMIT 100;

CREATE OR REPLACE TABLE `ny-rides-de-zoomcamp-2024.nytaxi.external_green_taxi_2022_nonpartitioned` AS
SELECT * FROM `ny-rides-de-zoomcamp-2024.nytaxi.external_green_taxi_2022`;

SELECT count(distinct(PULocationID))
from `ny-rides-de-zoomcamp-2024.nytaxi.external_green_taxi_2022`;

SELECT count(distinct(PULocationID))
from `ny-rides-de-zoomcamp-2024.nytaxi.external_green_taxi_2022`;

select count(*)
from `ny-rides-de-zoomcamp-2024.nytaxi.external_green_taxi_2022`
where fare_amount = 0;

CREATE OR REPLACE TABLE `ny-rides-de-zoomcamp-2024.nytaxi.external_green_taxi_2022_partitioned`
PARTITION BY DATE(lpep_pickup_datetime) 
CLUSTER BY PUlocationID
AS
SELECT * FROM `ny-rides-de-zoomcamp-2024.nytaxi.external_green_taxi_2022`;

select distinct(PULocationID)
from `ny-rides-de-zoomcamp-2024.nytaxi.external_green_taxi_2022_partitioned`
where date(lpep_pickup_datetime) between '2022-06-01' and '2022-06-30'
```