-- Question 3. Count records
-- How many taxi trips were totally made on September 18th 2019?
-- Tip: started and finished on 2019-09-18.
-- Remember that lpep_pickup_datetime and lpep_dropoff_datetime columns are in the format timestamp (date and hour+min+sec) and not in date.

select count(1) from green_taxi_data
where cast(lpep_dropoff_datetime as date)='2019-09-18'
and cast(lpep_pickup_datetime as date)='2019-09-18'

-- Question 4. Largest trip for each day
-- Which was the pick up day with the largest trip distance Use the pick up time for your calculations.
-- (date and hour+min+sec) and not in date.

SELECT cast(lpep_pickup_datetime as date)
FROM green_taxi_data
WHERE trip_distance = (
SELECT MAX(trip_distance)
FROM green_taxi_data
);

Question 5. Three biggest pick up Boroughs
-- Consider lpep_pickup_datetime in '2019-09-18' and ignoring Borough has Unknown
-- Which were the 3 pick up Boroughs that had a sum of total_amount superior to 50000?

select z."Borough" from green_taxi_data g join zones z on g."PULocationID"=z."LocationID"
where cast(g.lpep_pickup_datetime as date)='2019-09-18'
and z."Borough" <> 'Unknown'
group by z."Borough"
having sum(g.total_amount) > 50000

Question 6. Largest tip
-- For the passengers picked up in September 2019 in the zone name Astoria which was the drop off
-- zone that had the largest tip?
SELECT z1."Zone"
FROM green_taxi_data g1 join Zones z1 on z1."LocationID"=g1."DOLocationID"

WHERE g1.tip_amount = (
SELECT MAX(tip_amount)
FROM green_taxi_data g2
join Zones z2 on z2."LocationID"=g2."PULocationID"
and z2."Zone"='Astoria'
and date_part('month',g2.lpep_pickup_datetime) = 9
);