In [ ]:
import pandas as pd

In [ ]:
pd.__version__

In [ ]:
# might need to pip install pyarrow
df = pd.read_parquet('yellow_tripdata_2021-01.parquet')

In [ ]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
from sqlalchemy import create_engine

In [ ]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [ ]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

In [ ]:
def iterate_df(df, chunksize):
    """Iterate on dataframe for a given chunk size"""
    for i in range(0, len(df), chunksize):
        yield df.iloc[i:i+chunksize, :].copy()

In [ ]:
df_iter = iterate_df(df, chunksize=100_000)

In [ ]:
test_df = next(df_iter)

In [ ]:
len(test_df)

In [ ]:
test_df.tpep_pickup_datetime = pd.to_datetime(test_df.tpep_pickup_datetime)
test_df.tpep_dropoff_datetime = pd.to_datetime(test_df.tpep_dropoff_datetime)

In [ ]:
test_df

In [ ]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

In [ ]:
# %time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

In [ ]:
from time import time

In [ ]:
df_iter = iterate_df(df, chunksize=100_000)

# loops through the iterator until it is empty and handles the StopIteration error for us
for df_subset in df_iter:
    t_start = time()

    df_subset.tpep_pickup_datetime = pd.to_datetime(df_subset.tpep_pickup_datetime)
    df_subset.tpep_dropoff_datetime = pd.to_datetime(df_subset.tpep_dropoff_datetime)
    
    df_subset.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

In [ ]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

In [ ]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [ ]:
df_zones.head()

In [ ]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')