In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.4.4'

In [3]:
import os
os.getcwd()

'/Users/vadiveld/PycharmProjects/dataengineering_zoomcamp_course/week_1_basics_n_setup/2_docker_sql'

In [4]:
df = pd.read_csv('/Users/vadiveld/PycharmProjects/dataengineering_zoomcamp_course/data/yellow_tripdata_2021-01.csv', nrows=100)

In [5]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [6]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [12]:
from sqlalchemy import create_engine

In [27]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [7]:
#print(pd.io.sql.get_schema(df, name='yellow_taxi_trips', con=engine))

In [47]:
df_iter = pd.read_csv('/Users/vadiveld/PycharmProjects/dataengineering_zoomcamp_course/data/yellow_tripdata_2021-01.csv-01.csv', iterator=True, chunksize=100000)

In [48]:
df = next(df_iter)

In [25]:
len(df)

100000

In [49]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [51]:
df.head(n=0).to_sql(name='yellow_taxi_trips', con=engine, if_exists='replace')

0

In [52]:
%time df.to_sql(name='yellow_taxi_trips', con=engine, if_exists='append')

CPU times: user 7.83 s, sys: 1.64 s, total: 9.47 s
Wall time: 42.9 s

1000

In [19]:
from time import time

In [53]:
while True: 
    t_start = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi_trips', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 54.059 second
inserted another chunk, took 33.909 second
inserted another chunk, took 39.338 second
inserted another chunk, took 33.135 second
inserted another chunk, took 43.003 second
inserted another chunk, took 11.868 second

StopIteration:

In [22]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2023-01-22 22:35:16--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 54.231.227.48, 54.231.171.64, 52.217.231.160, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|54.231.227.48|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0.1s

2023-01-22 22:35:17 (102 KB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [23]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [25]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [28]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265