In [ ]:
import pandas as pd

In [ ]:
pd.__version__

Read first 100 rows only

In [ ]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

string -> timestamp

In [ ]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

create a connection to a database

In [ ]:
from sqlalchemy import create_engine

In [ ]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

generate a DDL statement

In [ ]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

create an iterator to insert data by chunks

In [ ]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [ ]:
df = next(df_iter)

In [ ]:
len(df)

In [ ]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
df

create an empty table with a schema

In [ ]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

insert first chunk and measure execution time

In [ ]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

Find out the rows number in csv file without opening it. Save it to var

In [ ]:
%%bash --out output
wc -l yellow_tripdata_2021-01.csv

Find out the iterations number

In [ ]:
iter_n = int(int(output.split(' ')[0])/100000)+1
iter_n

Insert data

In [ ]:
from time import time

In [ ]:
for i in range(iter_n):
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

In [ ]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

In [ ]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [ ]:
df_zones.head()

In [ ]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')