In [1]:
import pyspark

In [2]:
print(pyspark.__file__)

/home/ellabelle/spark/spark-3.5.1-bin-hadoop3/python/pyspark/__init__.py

In [3]:
!java --version

openjdk 11.0.22 2024-01-16
OpenJDK Runtime Environment (build 11.0.22+7-post-Ubuntu-0ubuntu222.04.1)
OpenJDK 64-Bit Server VM (build 11.0.22+7-post-Ubuntu-0ubuntu222.04.1, mixed mode, sharing)

In [4]:
!pyspark --version

24/03/01 18:30:50 WARN Utils: Your hostname, Cinders resolves to a loopback address: 127.0.1.1; using 172.17.156.62 instead (on interface eth0)
24/03/01 18:30:50 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /___/ .__/\_,_/_/ /_/\_\   version 3.5.1
      /_/

Using Scala version 2.12.18, OpenJDK 64-Bit Server VM, 11.0.22
Branch HEAD
Compiled by user heartsavior on 2024-02-15T11:24:58Z
Revision fd86f85e181fc2dc0f50a096855acf83a6cc5d9c
Url https://github.com/apache/spark
Type --help for more information.

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

your 131072x1 screen size is bogus. expect trouble
24/03/01 18:30:52 WARN Utils: Your hostname, Cinders resolves to a loopback address: 127.0.1.1; using 172.17.156.62 instead (on interface eth0)
24/03/01 18:30:52 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/01 18:30:54 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/03/01 18:30:54 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [7]:
# !wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

In [8]:
!pwd

/mnt/c/Users/ellabelle/Github/data-engineering-zoomcamp/05-batch/code

In [9]:
zones_file = f'../../data/csv/taxi+_zone_lookup.csv'

In [10]:
!head '../../data/csv/taxi+_zone_lookup.csv'

"LocationID","Borough","Zone","service_zone"
1,"EWR","Newark Airport","EWR"
2,"Queens","Jamaica Bay","Boro Zone"
3,"Bronx","Allerton/Pelham Gardens","Boro Zone"
4,"Manhattan","Alphabet City","Yellow Zone"
5,"Staten Island","Arden Heights","Boro Zone"
6,"Staten Island","Arrochar/Fort Wadsworth","Boro Zone"
7,"Queens","Astoria","Boro Zone"
8,"Queens","Astoria Park","Boro Zone"
9,"Queens","Auburndale","Boro Zone"

In [11]:
df = spark.read \
    .option("header", "true") \
    .csv(zones_file)

In [12]:
df.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [15]:
df.write.parquet('../../data/zones', mode="ignore")

In [17]:
!ls -lh '../../data'

total 528K
drwxrwxrwx 1 ellabelle ellabelle 4.0K Feb 27 01:36 csv
-rwxrwxrwx 1 ellabelle ellabelle 128K Feb 26 13:37 data_dictionary_trip_records_fhv.pdf
-rwxrwxrwx 1 ellabelle ellabelle 195K Feb 26 13:37 data_dictionary_trip_records_green.pdf
-rwxrwxrwx 1 ellabelle ellabelle 127K Feb 26 13:37 data_dictionary_trip_records_hvfhs.pdf
-rwxrwxrwx 1 ellabelle ellabelle  73K Feb 26 13:37 data_dictionary_trip_records_yellow.pdf
drwxrwxrwx 1 ellabelle ellabelle 4.0K Feb 27 01:38 parquet
drwxrwxrwx 1 ellabelle ellabelle 4.0K Mar  1 17:20 pq
drwxrwxrwx 1 ellabelle ellabelle 4.0K Mar  1 17:04 raw
drwxrwxrwx 1 ellabelle ellabelle 4.0K Mar  1 18:08 report
drwxrwxrwx 1 ellabelle ellabelle 4.0K Mar  1 18:32 zones