In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.0.3'

In [38]:
csv_name = 'green_tripdata_2019-09.csv.gz'

In [39]:
df = pd.read_csv(csv_name, nrows=100)

In [5]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1,1,0.0

In [6]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

/tmp/ipykernel_6076/3869521473.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
/tmp/ipykernel_6076/3869521473.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [7]:
from sqlalchemy import create_engine

In [8]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [9]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [82]:
query = """
SELECT count(*) from green_taxi_data;
"""

# query = """
# SELECT count(*) from zones;
# """
pd.read_sql(query, con=engine)

    count
0  449063

In [50]:
query = """
delete from green_taxi_data;
"""

try:
    with engine.connect() as connection:
        connection.execute(query)
    print("Query executed successfully.")
except Exception as e:
    # Handle any exceptions (e.g., SQL errors)
    print(f"Error executing the query: {str(e)}")

Query executed successfully.

In [66]:
# Read the CSV file into a DataFrame
df = pd.read_csv(csv_name, compression='gzip',low_memory=False)

# Get the size of the DataFrame in memory
df_memory_size = df.memory_usage(deep=True).sum()

# Print the size in a human-readable format
print(f"DataFrame size: {df_memory_size / (1024**2):.2f} MB")

# Get the total number of rows
total_rows = df.shape[0]

print(f'Total number of rows: {total_rows}')

DataFrame size: 146.71 MB
Total number of rows: 449063

In [67]:
df_iter = pd.read_csv(csv_name, iterator=True,compression='gzip', chunksize=50000, low_memory=False)

In [68]:
df = next(df_iter)

In [69]:
len(df)

50000

In [70]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [71]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2,2019-09-05 10:47:45,2019-09-05 11:10:29,N,1,75,236,1,2.71,15.5,0.0,0.5,0.00,0.0,NaN,0.3,16.30,2,1,0.0
49996,2,2019-09-05 10:09:46,2019-09-05 10:35:21,N,1,22,210,6,6.33,23.0,0.0,0.5,0.00,0.0,NaN,0.3,23.80,1,1,0.0
49997,2,2019-09-05 10:35:59,2019-09-05 10:59:02,N,1,66,255,2,3.41,17.0,0.0,0.5,2.67,0.0,NaN,0.3,20.47,1,1,0.0
49998,2,2019-09-05 09:59:37,2019-09-05 10:02:25,N,1,41,41,1,0.26,4.0,0.0,0.5,0.00,0.0,NaN,0.3,4.80,2,1,0.0
49999,2,2019-09-05 10:09:11,2019-09-05 10:12:28,N,1,42,42,1,0.77,5.0,0.0,0.5,0.00,0.0,NaN,0.3,5.80,2,1,0.0

In [72]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [73]:
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: user 2.49 s, sys: 11.7 ms, total: 2.51 s
Wall time: 4.49 s

1000

In [74]:
from time import time

In [75]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 4.687 second
inserted another chunk, took 4.686 second
inserted another chunk, took 4.674 second
inserted another chunk, took 4.925 second
inserted another chunk, took 4.655 second
inserted another chunk, took 4.542 second
inserted another chunk, took 4.613 second
inserted another chunk, took 4.087 second

StopIteration:

In [77]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [78]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [79]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265

## Question 3. Count records

How many taxi trips were totally made on September 18th 2019?

Tip: started and finished on 2019-09-18.

Remember that lpep_pickup_datetime and lpep_dropoff_datetime columns are in the format timestamp (date and hour+min+sec) and not in date.

In [85]:
query = """
SELECT count(*) from green_taxi_data where lpep_pickup_datetime::date ='2019-09-18'::date and lpep_dropoff_datetime::date ='2019-09-18'::date;
"""

# query = """
# SELECT count(*) from zones;
# """
pd.read_sql(query, con=engine)

   count
0  15612

## Question 4. Largest trip for each day
Which was the pick up day with the largest trip distance Use the pick up time for your calculations.

In [92]:
query = """
SELECT lpep_pickup_datetime::date,sum(trip_distance) trip_dist
from green_taxi_data group by 1 order by trip_dist desc limit 1;
"""

pd.read_sql(query, con=engine)

  lpep_pickup_datetime  trip_dist
0           2019-09-26   58759.94

## Question 5. Three biggest pick up Boroughs

Consider lpep_pickup_datetime in '2019-09-18' and ignoring Borough has Unknown
Which were the 3 pick up Boroughs that had a sum of total_amount superior to 50000?

In [120]:
query = """
SELECT zones."Borough", sum(total_amount) as total_sum_amount
from  green_taxi_data ,zones 
where  "PULocationID" = "LocationID"
and lpep_pickup_datetime::date = '2019-09-18'::date
group by zones."Borough"
HAVING sum(total_amount) > 50000
;
"""

pd.read_sql(query, con=engine)

     Borough  total_sum_amount
0   Brooklyn          96333.24
1  Manhattan          92271.30
2     Queens          78671.71

## Question 6. Largest tip

For the passengers picked up in September 2019 in the zone name Astoria which was the drop off zone that had the largest tip? We want the name of the zone, not the id.
Note: it's not a typo, it's tip , not trip

In [142]:
query = """
SELECT DZ."Zone", max(tip_amount)
FROM green_taxi_data, zones PZ, zones DZ 
where  "PULocationID" = PZ."LocationID"
      AND EXTRACT(MONTH FROM lpep_pickup_datetime) = 9
      AND EXTRACT(YEAR FROM lpep_pickup_datetime) = 2019
      AND PZ."Zone" = 'Astoria'
      AND "DOLocationID" = DZ."LocationID"
      group by DZ."Zone"
      order by max(tip_amount) desc
      limit 1
;
"""

pd.read_sql(query, con=engine)

          Zone    max
0  JFK Airport  62.31